
<div id="quizAlert" class="alert alert-danger alert-dismissible collapse" role="alert" >
  <strong>Oops!</strong> We're having some issues processing this one.
  <button id="btnCloseQuizAlert" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>