

<div class="card">
  <div class="card-header">
    Here's what we came up with:
  </div>
  <div class="card-body">
    <div class="media">
    <img id="imgPet" class="mr-3" src="" alt="cute pet">
      <div class="media-body">
    <h5 class="card-title">You're a <span class="lblPet">pet</span> person! </h5>
    <p class="card-text"  class="small">
      <span id="lblConfidence"></span>% of people with your exact stats love <span class="lblPet">pet</span>s.
    </p><p class="card-text"  class="small">
      <span id="lblSimilarConfidence" ></span>% of people with measurements like yours love <span class="lblPet">pet</span>s.
    </p>
    <a href="#" class="btn btn-primary">See popular results</a>
      </div>
    </div>
  </div>
</div>
