// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$default_space: 8px;

.header{
  padding: $default_space;
}

form{
  .row{
    margin-bottom: $default_space;
  }

  .row:nth-last-child(2) {
    margin-bottom: $default_space * 2;
  }
}

.hide{
  display: none;
}

#dvGraphs{
  padding: #{$default_space * 2} 0;

  .row{
    margin-bottom: $default_space * 2;
  }
}

.tab-content{
  margin-bottom: $default_space * 4;
}