<div id="dvGraphs">
  <p class="lead"> Here's the distribution of our data:</p>
  <div class="row">

    <div class="col">

      <div class="card">
        <h5 class="card-header">Weight Chart</h5>
        <div class="card-body">
          <canvas id="weightChart" class="col" height="80" ></canvas>
        
        </div>
      </div>

    </div>
  </div>
</div>