<div id="dvGraphs" class="collapse">
  <p class="lead"> Here's the distribution of our data:</p>

  <div class="row">
    <div class="col">

      <div class="card">
        <h5 class="card-header">Weight Chart</h5>
        <div class="card-body">
          <canvas id="weightChart" height="80" ></canvas>
        
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="card">
        <h5 class="card-header">Height Chart</h5>
        <div class="card-body">
          <canvas id="heightChart" height="80" ></canvas>
        
        </div>
      </div>

    </div>
  </div>


</div>